*{
    margin: 2;
    padding: 2;
    box-sizing: border-box;
    background-color:aliceblue
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

marquee{
    color: green;
}

.box{
    padding: 10px 10px;
    background-color: rgb(245, 233, 233);
}

.box h3{
    font-size: 20px;
    font-weight: bold;
}

.box h{
    font-size: 10px;
    font-weight: lighter;
}

